mixin avatar()
  .avatar
    .avatar__img-wrap
      img(src="/img/img-search.svg")
    .avatar__data-wrap
      span.avatar__name Adelina Kharitonova
      span.avatar__email d.i.haritonova@yandex.ru

  //img(src="./assets/img/jpg/foto.jpg" alt = "Аватар")
