mixin avatar()
  .avatar
    .avatar__img-wrap
      img.avatar__img(src=require("../assets/img/tmp/tmp-2.jpg") alt = "Аватар")
    .avatar__data-wrap
      span.avatar__name Dina Kharitonova
      span.avatar__email d.i.haritonova@yandex.ru
