@media screen and (min-width: 320px) {

}

@media screen and (min-width: 1024px) {

  .notification {
    background-color: inherit;
    border: none;
    //width: 100%;
    //height: 100%;
  }

  .notification__img {
    width: 100%;
    height: 100%;
    color: $text-c;
  }
}
