mixin checkBtn()
    .check-btn
        input#checkbox.checkbox(type = "checkbox" value = "true")
        label(for = "checkbox")
            svg.checkbox__img
                use(xLink:href = "./assets/img/sprite.svg#_check")
