// FONT
$primary-f: 'Luciano Display';
$logo-f: 'Montserrat';


// COLOR
$bg-c: #0E0505;
$sidebar-c: #1E1717;
$text-c: #FFFFFF;
$nav-c: #DCDCDC;

$btn-c: #F8E0E1;
$active-c: #C7A17A;
$hover-c: #F9F5E8;

// GRID_GAP
$gap-v: 1rem;

// TRANSITION
$t-04-eio: .4s ease-in-out;
