// FONT
$p-f: 'Roboto';

// COLOR
$g-0: #000;
$g-10: #1A1A1A;
$g-20: #333;
$g-30: #4D4D4D;
$g-40: #666;
$g-50: #808080;
$g-60: #999;
$g-70: #B2B2B2;
$g-80: #CCC;
$g-90: #E5E5E5;
$g-100: #FFF;

$c-1: #ff0000;
$c-2: #00ff00;
$c-3: #0000ff;

// GRID_GAP
$gap-v: 1rem;

// TRANSITION
$t-04-eio: .4s ease-in-out;