// FONT
$p-f: 'Luciano Display';
$ttl-f: 'Montserrat';


// COLOR
$bg: #415167;
$p-c: #EDF0F5;
$active-c: #C7A17A;
$hover-c: #F9F5E8;
$bg-c: #F2F2F2;

// GRID_GAP
$gap-v: 1rem;

// TRANSITION
$t-04-eio: .4s ease-in-out;
