extends ../layout/default

block variables
  - var title = 'Home';
  - var description = 'Description of index';

include ../modules/searchForm/_index
include ../modules/avatar/_index
include ../modules/heroCard/_index
include ../modules/notification/_index



block content
  main.main
    .div
      .div1
        .div-wrap
          +searchForm()
          +notification()
        +heroCard()
      .div2
        +avatar()

