extends ../layout/default

block variables
  - var title = 'Home';
  - var description = 'Description of index';

include ../modules/searchForm/_index


block content
  main.main
    .div
      .div1
        +searchForm()
      .div2

