doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= "Project name"
    meta(name="description", content="Site map")
    style(type="text/css").
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

      @media screen and (min-width: 320px) {
        .rf-body {
          font-family: 'Montserrat', sans-serif;
          display: flex;
          flex-direction: column;
          min-height: 100vh;
          padding: 0 16px 32px;
          background-color: #1f1f1f;
          box-sizing: border-box;
        }

        .rf-header {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100px;
          max-width: 1200px;
          margin: 0 auto;
        }

        .rf-logo {
          width: 280px;
          height: 24px;
        }

        .rf-main {
          flex: 1 0 auto;
          width: 100%;
          max-width: 1200px;
          margin: 0 auto;
          padding: 48px 32px;
          background-color: #fcfcfc;
          box-sizing: border-box;
        }

        .rf-ttl {
          margin-bottom: 32px;
          color: #1f1f1f;
          font-size: 32px;
          font-weight: 800;
        }

        .rf-list {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .rf-link {
          color: #5dc2a4;
          font-weight: 800;
          font-size: 20px;
          text-decoration: none;
          transition: 0.4s ease-in-out;
        }

        .rf-link:hover {
          opacity: 0.8;
        }
      }

      @media screen and (min-width: 600px) {
        .rf-body {
          padding: 0 24px 64px;
        }
      }

      @media screen and (min-width: 1024px) {
        .rf-body {
          padding: 0 24px 100px;
        }

        .rf-header {
          height: 200px;
        }
      }
  body.rf-body
    header.rf-header
      svg.rf-logo(viewBox="0 0 280 24" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M145.695 6.208V10.048H155.039V15.744H145.695V22.912H138.143V0.511999H156.351V6.208H145.695Z" fill="#5DC2A4")
        path(d="M174.736 17.28H172.688V22.912H165.136V0.511999H175.92C177.99 0.511999 179.792 0.853333 181.328 1.536C182.864 2.21867 184.048 3.2 184.88 4.48C185.712 5.76 186.128 7.25333 186.128 8.96C186.128 10.56 185.766 11.9573 185.04 13.152C184.315 14.3467 183.27 15.296 181.904 16L186.608 22.912H178.544L174.736 17.28ZM178.512 8.96C178.512 8.128 178.256 7.488 177.744 7.04C177.232 6.57067 176.464 6.336 175.44 6.336H172.688V11.584H175.44C176.464 11.584 177.232 11.36 177.744 10.912C178.256 10.4427 178.512 9.792 178.512 8.96Z" fill="#5DC2A4")
        path(d="M207.124 23.424C204.713 23.424 202.548 22.9227 200.628 21.92C198.708 20.9173 197.204 19.5307 196.116 17.76C195.028 15.968 194.484 13.952 194.484 11.712C194.484 9.472 195.028 7.46667 196.116 5.696C197.204 3.904 198.708 2.50667 200.628 1.504C202.548 0.501333 204.713 0 207.124 0C209.535 0 211.7 0.501333 213.62 1.504C215.54 2.50667 217.044 3.904 218.132 5.696C219.22 7.46667 219.764 9.472 219.764 11.712C219.764 13.952 219.22 15.968 218.132 17.76C217.044 19.5307 215.54 20.9173 213.62 21.92C211.7 22.9227 209.535 23.424 207.124 23.424ZM207.124 17.312C208.063 17.312 208.905 17.088 209.652 16.64C210.42 16.1707 211.028 15.52 211.476 14.688C211.924 13.8347 212.148 12.8427 212.148 11.712C212.148 10.5813 211.924 9.6 211.476 8.768C211.028 7.91467 210.42 7.264 209.652 6.816C208.905 6.34667 208.063 6.112 207.124 6.112C206.185 6.112 205.332 6.34667 204.564 6.816C203.817 7.264 203.22 7.91467 202.772 8.768C202.324 9.6 202.1 10.5813 202.1 11.712C202.1 12.8427 202.324 13.8347 202.772 14.688C203.22 15.52 203.817 16.1707 204.564 16.64C205.332 17.088 206.185 17.312 207.124 17.312Z" fill="#5DC2A4")
        path(d="M250.985 0.511999V22.912H244.777L236.265 12.736V22.912H228.905V0.511999H235.113L243.625 10.688V0.511999H250.985Z" fill="#5DC2A4")
        path(d="M265.888 6.368H259.328V0.511999H280V6.368H273.44V22.912H265.888V6.368Z" fill="#5DC2A4")
        path(d="M23.4242 17.28H21.3762V22.912H13.8242V0.511999H24.6082C26.6776 0.511999 28.4802 0.853333 30.0162 1.536C31.5522 2.21867 32.7362 3.2 33.5682 4.48C34.4002 5.76 34.8162 7.25333 34.8162 8.96C34.8162 10.56 34.4536 11.9573 33.7282 13.152C33.0029 14.3467 31.9576 15.296 30.5922 16L35.2962 22.912H27.2322L23.4242 17.28ZM27.2002 8.96C27.2002 8.128 26.9442 7.488 26.4322 7.04C25.9202 6.57067 25.1522 6.336 24.1282 6.336H21.3762V11.584H24.1282C25.1522 11.584 25.9202 11.36 26.4322 10.912C26.9442 10.4427 27.2002 9.792 27.2002 8.96Z" fill="#FCFCFC")
        path(d="M55.812 23.424C53.4013 23.424 51.236 22.9227 49.316 21.92C47.396 20.9173 45.892 19.5307 44.804 17.76C43.716 15.968 43.172 13.952 43.172 11.712C43.172 9.472 43.716 7.46667 44.804 5.696C45.892 3.904 47.396 2.50667 49.316 1.504C51.236 0.501333 53.4013 0 55.812 0C58.2226 0 60.388 0.501333 62.308 1.504C64.228 2.50667 65.732 3.904 66.82 5.696C67.908 7.46667 68.452 9.472 68.452 11.712C68.452 13.952 67.908 15.968 66.82 17.76C65.732 19.5307 64.228 20.9173 62.308 21.92C60.388 22.9227 58.2226 23.424 55.812 23.424ZM55.812 17.312C56.7506 17.312 57.5933 17.088 58.34 16.64C59.108 16.1707 59.716 15.52 60.164 14.688C60.612 13.8347 60.836 12.8427 60.836 11.712C60.836 10.5813 60.612 9.6 60.164 8.768C59.716 7.91467 59.108 7.264 58.34 6.816C57.5933 6.34667 56.7506 6.112 55.812 6.112C54.8733 6.112 54.02 6.34667 53.252 6.816C52.5053 7.264 51.908 7.91467 51.46 8.768C51.012 9.6 50.788 10.5813 50.788 11.712C50.788 12.8427 51.012 13.8347 51.46 14.688C51.908 15.52 52.5053 16.1707 53.252 16.64C54.02 17.088 54.8733 17.312 55.812 17.312Z" fill="#FCFCFC")
        path(d="M89.337 23.424C86.9263 23.424 84.761 22.9227 82.841 21.92C80.921 20.9173 79.417 19.5307 78.329 17.76C77.241 15.968 76.697 13.952 76.697 11.712C76.697 9.472 77.241 7.46667 78.329 5.696C79.417 3.904 80.921 2.50667 82.841 1.504C84.761 0.501333 86.9263 0 89.337 0C91.7476 0 93.913 0.501333 95.833 1.504C97.753 2.50667 99.257 3.904 100.345 5.696C101.433 7.46667 101.977 9.472 101.977 11.712C101.977 13.952 101.433 15.968 100.345 17.76C99.257 19.5307 97.753 20.9173 95.833 21.92C93.913 22.9227 91.7476 23.424 89.337 23.424ZM89.337 17.312C90.2756 17.312 91.1183 17.088 91.865 16.64C92.633 16.1707 93.241 15.52 93.689 14.688C94.137 13.8347 94.361 12.8427 94.361 11.712C94.361 10.5813 94.137 9.6 93.689 8.768C93.241 7.91467 92.633 7.264 91.865 6.816C91.1183 6.34667 90.2756 6.112 89.337 6.112C88.3983 6.112 87.545 6.34667 86.777 6.816C86.0303 7.264 85.433 7.91467 84.985 8.768C84.537 9.6 84.313 10.5813 84.313 11.712C84.313 12.8427 84.537 13.8347 84.985 14.688C85.433 15.52 86.0303 16.1707 86.777 16.64C87.545 17.088 88.3983 17.312 89.337 17.312Z" fill="#FCFCFC")
        path(d="M115.669 6.368H109.109V0.511999H129.781V6.368H123.221V22.912H115.669V6.368Z" fill="#FCFCFC")
        path(d="M6 6.91199C6 8.56884 4.65685 9.91199 3 9.91199C1.34315 9.91199 0 8.56884 0 6.91199C0 5.25513 1.34315 3.91199 3 3.91199C4.65685 3.91199 6 5.25513 6 6.91199Z" fill="#FCFCFC")
        path(d="M6 16.912C6 18.5688 4.65685 19.912 3 19.912C1.34315 19.912 0 18.5688 0 16.912C0 15.2551 1.34315 13.912 3 13.912C4.65685 13.912 6 15.2551 6 16.912Z" fill="#FCFCFC")
    main.rf-main
      h1.rf-ttl= "Карта сайта"
      .rf-list
        a.rf-link(href="main.html")= "Главная"
        a.rf-link(href="home.html")= "Home"
