@media screen and (min-width: 320px) {

}

@media screen and (min-width: 1024px) {
  .episode {
    display: flex;
    column-gap: 18px;
    width: 100%;
    border-radius: 8px;
    background-color: $bg-c;

    &:hover {
      cursor: pointer;
    }
  }

  .episode__poster-wrap {
    width: 100px;
    height: 80px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
  }

  .episode__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .episode-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 4px 4px 0;
  }

  .episode__series {
    border-radius: 4px;
    color: $active-c;
    font-size: 18px;
    font-weight: 700;
  }

  .episode__number {
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .episode__title {
    font-size: 12px;
    line-height: 16px;
  }

  .wrap-2 {
    display: flex;
    justify-content: space-between;
  }

  .wrap-3 {
    display: flex;
    flex-direction: column;
  }
}
