mixin episodeCard()
    .episode
        img.episode__poster(src = require("../assets/img/tmp/tmp-7.jpg"))
        h3.episode__series Doctor Who
        span S03 | E11
        h4.episode__title Utopia
