include ../checkBtn/_index

mixin episodeCard()
    .episode
        .episode__poster-wrap
            img.episode__poster(src = require("../assets/img/tmp/tmp-7.jpg"))
        .episode-wrap
            h3.episode__series Doctor Who
            .wrap-2
                .wrap-3
                    span.episode__number s03 | e11
                    h4.episode__title Utopia
                +checkBtn()
