@media screen and (min-width: 320px) {

}

@media screen and (min-width: 1024px) {
  .icon-btn {
    background-color: $sidebar-c;
    border: none;
    text-align: start;

    &:hover .icon-btn__txt {
      color: $active-c;
    }

    &:hover .icon-btn__img {
      fill: $active-c;
    }
  }

  .icon-btn__img {
    fill: $text-c;
    width: 16px;
    height: 16px;
    margin-right: 18px;
  }

  .icon-btn__txt {
    color: $text-c;
  }
}
