include ../button/_index
include ../addBtn/_index

mixin heroCard()
  .hero-card
    .hero-card__inner
      h1.hero-card__ttl Supernatural
      span.hero-card__subtitle Action, horror, comedy
      .hero-card__btn-group
        +button("hero-card__btn", 'Watch now')
        +addBtn()
    img.hero-card__img(src = require("../assets/img/tmp/tmp-1.jpg"))

