mixin header()
  header.header
    .header__wrap
      .header__logo Filmoteka
      nav.header__menu
        ul
          li Home
          li TV-series
          li Movies
      button.header__logout Log out
      button.header__login Login
