@media screen and (min-width: 320px) {

}

@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  .header {
    display: flex;
    flex-direction: column;
    padding: 48px 12px;
    height: 100vh;
    width: 266px;
    background-color: $bg;
  }

  .header__link {
    text-decoration: none;
  }

  .header__logo {
    font-family: $ttl-f;
    font-weight: 900;
    font-size: 36px;
    line-height: 47px;
    color: $p-c;
    text-transform: uppercase;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 39px;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .header__txt {
    font-family: $p-f;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: $p-c;
  }

  .header__svg {
    fill: $p-c;
    width: 16px;
    height: 16px;
  }

  .header__menu-item {
    //display: flex;
    //column-gap: 18px;
    //align-items: center;
    height: 36px;
    width: 100%;

    &:hover {
      color: $active-c;
      //fill: $active-c;
    }
  }
    //.header__menu-link {
    //  display: flex;
    //  column-gap: 18px;
    //  align-items: center;
    //
    //}

    //&_active {
    //  color: $active-c;
    //  fill: $active-c;
    //}


  .header__logout-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 18px;
    width: 100%;
    height: 48px;
    padding: 4px 0;
    background-color: $bg;
    border: none;

    &:hover {
      color: $active-c;
      fill: $active-c;
    }
  }



}
