mixin header()
  header.header
    .header__wrap
      .header__logo Filmoteka
      nav.header__menu
        a.header__menu-item.header__menu-item_active(href = "https://langformula.ru/whats-up-answers/")
          .header__svg-wrap
            svg.header__svg
              use(xlink:href="./assets/img/sprite.svg#_home")
          span.header__txt Home
        a.header__menu-item(href = "https://langformula.ru/whats-up-answers/")
          .header__svg-wrap
            svg.header__svg
              use(xlink:href="./assets/img/sprite.svg#_tvseries")
          span.header__txt TV-series
        a.header__menu-item(href = "https://langformula.ru/whats-up-answers/")
          .header__svg-wrap
            svg.header__svg
              use(xlink:href="./assets/img/sprite.svg#_movie")
          span.header__txt Movies
      button.btn.header__logout
        .header__svg-wrap
          svg.header__svg
            use(xlink:href="./assets/img/sprite.svg#_logout")
        span.header__txt Log Out
      //button.btn.header__login Login
      //  svg.header__svg
      //    use(xlink:href="./assets/img/sprite.svg#_login")


