include ../button/_index
include ../link/_index
include ../iconBtn/_index

mixin header()
  header.header
    a.header__logo-link(href = "/home.html")
      span.header__logo Filmoteka

    nav.header__navigation
      ul.header__menu-list
        li
          +link("https://langformula.ru/whats-up-answers/", "./assets/img/sprite.svg#_home", 'Home' )
        li
          +link("https://langformula.ru/whats-up-answers/", "./assets/img/sprite.svg#_movie", 'Movie' )
        li
          +link("https://langformula.ru/whats-up-answers/", "./assets/img/sprite.svg#_tvseries", 'TV-series' )
        li
          +link("https://langformula.ru/whats-up-answers/", "./assets/img/sprite.svg#_home", 'Home' )
        li
          +link("https://langformula.ru/whats-up-answers/", "./assets/img/sprite.svg#_movie", 'Movie' )
        li
          +link("https://langformula.ru/whats-up-answers/", "./assets/img/sprite.svg#_tvseries", 'TV-series' )

      .header__btn-wrap
        +link("https://langformula.ru/whats-up-answers/", "./assets/img/sprite.svg#_settings", 'Settings' )
        +iconBtn("./assets/img/sprite.svg#_logout", 'Log out')
      +button("header__btn", 'Log in')
