mixin header()
  header.header
    a.header__link(href = "/home.html")
      span.header__logo Filmoteka

    nav.header__nav
      ul.header__menu
        li.header__menu-item
            span.header__txt 1
            span.header__txt 2
        li.header__menu-item
          a.header__menu-link.header__link(href = "https://langformula.ru/whats-up-answers/")
            svg.header__svg
              use(xlink:href="./assets/img/sprite.svg#_home")
            span.header__txt Home
        li.header__menu-item
          a.header__menu-link.header__link(href = "https://langformula.ru/whats-up-answers/")
            svg.header__svg
              use(xlink:href="./assets/img/sprite.svg#_tvseries")
          span.header__txt TV-series
        li.header__menu-item
          a.header__menu-link.header__link(href = "https://langformula.ru/whats-up-answers/")
            svg.header__svg
              use(xlink:href="./assets/img/sprite.svg#_movie")
          span.header__txt Movies
      button.header__logout-btn
        svg.header__svg
          use(xlink:href="./assets/img/sprite.svg#_logout")
        span.header__txt Log Out
      //button.btn.header__login Login
      //  svg.header__svg
      //    use(xlink:href="./assets/img/sprite.svg#_login")
//.header__menu-item_active

